.popup__exit {
    position: absolute;
    top: -51px;
    left: 245px;
    height: 37px;
    cursor: pointer;
    transition: opacity 1s ease;
}

.popup__exit:hover {
    opacity: 0.6;
}

@media screen and (min-width: 1000px) {
    .popup__exit {
        top: -47px;
        left: 423px;
        height: 54px;
    }
}