.profile__picture-edit {
    height: 120px;
    margin: 0 auto 25px;
    position: relative;
}

@media screen and (min-width: 1000px) {
    .profile__picture-edit {
        margin: 0 30px 24px 0;
    }
}