.popup__exit {
    position: absolute;
    top: -50px;
    right: 0px;
    height: 36px;
    width: 36px;
    cursor: pointer;
    transition: opacity .5s ease;
    background-image: url("../../../images/Close_Icon.svg");
    border: 0;
    background-color: transparent;
    background-size: contain;

}

.popup__exit:hover {
    opacity: 0.6;
}

@media screen and (min-width: 1000px) {
    .popup__exit {
        top: -50px;
        right: -50px;
        height: 50px;
        width: 50px;
    }
}